*{
    box-sizing: border-box;
}
@font-face{
    font-family:Caveat-VariableFont_wght;
    src: url("Caveat-VariableFont_wght.ttf");
}
body{
    font-family:Caveat-VariableFont_wght ;
    background: rgb(29,94,253);
background: linear-gradient(90deg, rgba(0, 72, 255, 0.596) 25%, rgba(69,252,78,0.569) 50%, rgba(249,255,0,0.569) 100%);
}
.our_team{
    font-family:Caveat-VariableFont_wght;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.a {
    position: absolute;
    width: 70px;
    height: 70px;
    left:650px;
    top:300px;
}

.aa {
    position: absolute;
    right:650px;
    width: 70px;
    height: 70px;
    top:300px;
}

.our_team li{
    
    width: 350px;
    border: 2px solid forestgreen;
}

.our_team img{
   
    width: 350px;

}

p{
    font-size: 36px;
}

.Nick:hover::after{
    
    position: absolute;
    display: block;
    top: 0px;
    
    width: 350px;
    height: 272px;
   
    font-size: 20px;
    padding: 70px;
    box-sizing: border-box;
    
}

.Nick{
    position:relative;
    width: 350px;
    margin: 0 auto;
}

.Nick img{
    width: 350px;
    height: 272px;

}

.Maksim:hover::after{
    
    position: absolute;
    display: block;
    top: 0px;
    width: 350px;
    height: 272px;
    font-size: 20px;
    padding: 80px;
    box-sizing: border-box;
    
    
}

.Maksim{
    position: relative;
    
}

.Andrey:hover::after{
    
    position: absolute;
    display: block;
    top: 0px;
   
    width: 350px;
    height: 272px;
   
    font-size: 20px;
    padding: 70px;
    box-sizing: border-box;
    
    
}

.Andrey{
    position: relative;
    
}

.Dasha:hover::after{
    
    position: absolute;
    display: block;
    top: 0px;
    
    width: 350px;
    height: 272px;
    
    font-size: 20px;
    padding: 70px;
    box-sizing: border-box;
    
    
}

.Dasha{
    position: relative;
    
}


.Liza:hover::after{
    
    position: absolute;
    display: block;
    top: 0px;
    
    width: 350px;
    height: 272px;
   
    font-size: 20px;
    padding: 70px;
    box-sizing: border-box;
    
    
}

.Liza{
    position: relative;
    
}

.Ivan:hover::after{
    
    position: absolute;
    display: block;
    top: 0px;
    
    width: 350px;
    height: 272px;
   
    font-size: 20px;
    padding: 70px;
    box-sizing: border-box;
    
    
}

.Ivan{
    position: relative;
    
}

.Kirilitca:hover::after{
    
    position: absolute;
    display: block;
    top: 0px;
    
    width: 350px;
    height: 272px;
    background-color: rgba(0, 0, 0, 0.842);
    font-size: 20px;
    padding: 70px;
    box-sizing: border-box;
    
    
}

.Kirilitca{
    position: relative;
}

.nagrady{
    
   width: 400px;
}

.nadradydiv{
    display: flex;
    flex-flow:row wrap ;
    justify-content: space-around;
    width: 1200px;
    margin: 0 auto;
    
}

.slova_pered_nadrady_div{
    text-align: center;
}

.verx{
    text-align: center;
}

.nydjnytext{
    background-color: rgba(0, 0, 0, 0.678);
    color: rgb(255, 255, 255);
    width: 350px;
    height: 272px;
   font-size: 25px; 
   position: absolute;
   top: 230px;
   left: 777PX;
   display: none;
}

.Nick:hover+.nydjnytext{
    display:block ;
}

